* {
  font-family: 'Raleway', serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

#header {
  font-size:4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: orangered;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

main {
  margin-top: 100px;
}
#header-img {
  width: 70px;
  height: auto;
}

#nav-bar {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

a {
  font-size: 1.7rem;
  text-decoration: none;
  color: white
}

a:hover {
  color: black;
}

h2 {
  font-size: 2.7rem;
  text-align: center;
}

#form {
  display: flex;
  font-size: 2.3rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px;
;
}

#email {
  width: 40%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 20px;
  margin: 15px auto;
  gap: 20px;
  font-size: 2.6rem;
  background-color: rgb(209, 209, 209)
}
  
.box span {
  font-size: 6rem;
}

.text {
  font-size: 3rem;
}

#video-part {
  font-size: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#video {
  width: 70vw;
  height: 60vh;
}

footer {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: orangered;
  padding: 10px;
}

.foot-links {
  font-size: 3rem;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

@media (max-width: 640px) {
  #header {
    font-size: 2.5rem;
  }
  a {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}